logs
target
/*.iml
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/target
/tmp
buildinfo.properties
.vscode
.DS_Store
build/*.iid
build/*.tag
build/*.tags
build/*.digest
images_v1.json
.metals/
*.code-workspace
.bloop/
.hydra/
.bsp/
